#jumbotron {
  padding-top: 5rem;
  background-color: #d1def0;
  text-align: center;
}

#paket {
  background-color: #d1def0;
  padding-bottom: 100rem;
}

#addon {
  background-color: #ffffff;
}

section {
  padding-top: 5rem;
}
